body {
 background-image: url("./stacked-waves-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #001220;
}

#box {
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
